#maintitle{
    text-align: center;
    
} 
.nav-link{
    color: #4ab2cc;
}
#demo{
    
}
.carimage{
    
    height:600px;
}
.menuimg{
    text-align: center;
    padding: 10px;
    height:700px;

}
label{
    color:black;
}
.centered{
    text-align: center;
}
.galimg{
    height:500px;
}
.galimgcont{
    padding-top:20px;

}
.profimg{
    padding:10px;
    padding-top:0px;
}
.abouttext{
    background-color: rgb(78, 78, 78) ;
    color: white;
    padding:12px;
    height:fit-content;
}
.navln{
    color: #4ab2cc;
}