body{
       background: rgba(24, 119, 197, 0.459);
       width: 90%;
       margin-left: auto;
       margin-right: auto;
       
}
h1{
       font-size: 20px;
}
p{
       font-size: 17px;
       color: rgb(0, 0, 0);
       background-color: rgba(166, 207, 255, 0.418);
       padding: 5px;
}
#box{
       font-size:30px;
}
.divclass{
       border-style: dotted;
       border-width: 2px;
       width: 100px;
       height: 100px;
}
ol{
       list-style-type: lower-alpha;
}
ul{
       list-style-type: square;
}
nav{
       font: size 20px;
      
}
header{
       font-size: 20px;
}
.nav{
       display:flex;
       justify-content: center;
       background-color: slateblue;

}
.nav > div{
       text-align: center;
       margin: 10px;
       padding: 5px;
       background-color: silver;
}
header{
       display:flex;
       justify-content: center;
       background-color: springgreen;
}
section{
       justify-content: left;
       background-color: violet;
       width: 50%;
}
aside{
       background-color: red;
       justify-content: left;
       width: 50%;
       float:right;
}
footer{
       background-color: yellow;
       text-align: center;
}
article{
       background-color: orangered;
       text-align: left;
       width: 50%;
}